In [36]:
import pandas as pd
from sklearn.linear_model import LinearRegression
df = pd.read_csv('Lesson_5/true_car_listings_prepeared.csv')
df

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725.0,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,NaN,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851.0,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922.0,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,0,2016,NaN,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic
...,...,...,...,...,...,...,...,...
852117,63215,2017,9.0,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6
852118,72260,2017,3201.0,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
852119,55999,2016,28941.0,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD
852120,60240,2017,3005.0,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90
852121,76995,2017,2502.0,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8

In [11]:
df.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725.0,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,NaN,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851.0,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922.0,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,0,2016,NaN,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [12]:
df['Price']

0          8995
1         10888
2          8995
3         10999
4             0
          ...
852117    63215
852118    72260
852119    55999
852120    60240
852121    76995
Name: Price, Length: 852122, dtype: int64

In [13]:
df['Price'].iloc[0]

8995

In [14]:
df.iloc[0]

Price                   8995
Year                    2014
Mileage              35725.0
City                 El Paso
State                     TX
Vin        19VDE2E53EE000083
Make                   Acura
Model             ILX6-Speed
Name: 0, dtype: object

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
type(df['Price'])

pandas.core.series.Series

Different Types

In [19]:
df.reset_index()

,index,Price,Year,Mileage,City,State,Vin,Make,Model
0,0,8995,2014,35725.0,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,1,10888,2013,NaN,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,2,8995,2013,48851.0,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,3,10999,2014,39922.0,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,4,0,2016,NaN,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic
...,...,...,...,...,...,...,...,...,...
852117,852117,63215,2017,9.0,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6
852118,852118,72260,2017,3201.0,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
852119,852119,55999,2016,28941.0,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD
852120,852120,60240,2017,3005.0,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90
852121,852121,76995,2017,2502.0,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8

In [24]:
df['Year'] == 2014

0          True
1         False
2         False
3          True
4         False
          ...
852117    False
852118    False
852119    False
852120    False
852121    False
Name: Year, Length: 852122, dtype: bool

In [32]:
df[df['Year'] == 2018]

,Price,Year,Mileage,City,State,Vin,Make,Model
6129,35721,2018,5.0,Littleton,CO,5J8TB4H37JL004139,Acura,NaN
6257,0,2018,5.0,Littleton,CO,5J8TB4H37JL005209,Acura,RDXAWD
6258,0,2018,5.0,Littleton,CO,5J8TB4H34JL003045,Acura,RDXAWD
6529,32995,2018,NaN,Cerritos,CA,19UUB1F30JA004453,Acura,TLXFWD
6640,33929,2018,239.0,Hoffman Estates,IL,19UUB1F55JA000321,Acura,TLXFWD
...,...,...,...,...,...,...,...,...
851987,59997,2018,248.0,Charleston,SC,YV4A22PL9J1207795,Volvo,XC90T6
852038,46885,2018,15.0,Hasbrouck Heights,NJ,YV440MWK2J2044182,Volvo,NaN
852066,51555,2018,30.0,Englewood,NJ,YV4102RL1J1004130,Volvo,XC60T5
852073,52455,2018,10.0,Hasbrouck Heights,NJ,YV4A22RK8J1005471,Volvo,XC60T6
852082,66240,2018,14.0,Nazareth,PA,LVY992ML7JP006733,Volvo,S90T6

In [34]:
df.describe()

               Price           Year       Mileage
count  852122.000000  852122.000000  7.311790e+05
mean    20121.167199    2013.289145  5.251923e+04
std     14123.100298       3.414987  4.203614e+04
min         0.000000    1997.000000  5.000000e+00
25%     11997.000000    2012.000000  2.383600e+04
50%     17900.000000    2014.000000  4.026500e+04
75%     26397.000000    2016.000000  7.222700e+04
max    499500.000000    2018.000000  2.856196e+06

In [37]:
x = df.drop('Price', axis = 1)
y = df['Price']
x

,Year,Mileage,City,State,Vin,Make,Model
0,2014,35725.0,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,2013,NaN,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,2013,48851.0,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,2014,39922.0,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,2016,NaN,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic
...,...,...,...,...,...,...,...
852117,2017,9.0,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6
852118,2017,3201.0,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
852119,2016,28941.0,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD
852120,2017,3005.0,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90
852121,2017,2502.0,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8

In [39]:
from sklearn import preprocessing

In [44]:
le = preprocessing.LabelEncoder()

In [42]:
x['City']

0                  El Paso
1         Long Island City
2                  El Paso
3                  Windsor
4                   Lindon
                ...
852117         Culver City
852118           Englewood
852119        Fort Collins
852120         San Leandro
852121            New York
Name: City, Length: 852122, dtype: object

In [46]:
le.transform(x['City'])

NotFittedError: This LabelEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [47]:
x = df.drop('Price', axis = 1)[["Year", "Mileage"]]
y = df['Price']

In [49]:
df.isna().sum()

Price           0
Year            0
Mileage    120943
City            0
State           0
Vin             0
Make            0
Model       77122
dtype: int64

In [58]:
df.groupby('City')['Year'].count()

City
AKRON            9
ALEXANDRIA      70
AURORA          49
AUSTIN         349
AVON             6
              ...
kansas city     85
marietta        41
phoenix         85
salt lake       21
victorville     68
Name: Year, Length: 2553, dtype: int64